<p>
  <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i
  >Designer
</p>
<p>
  <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Dhaka,
  Bangladesh
</p>
<p>
  <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i
  >mdmuktadirmazumder@gmail.com
</p>
<p>
  <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i
  >01306989578
</p>
